<ng-container *ngIf="product">
  <div class="product-container">
    <h3 class="product-name">{{ product.name }}</h3>
    <hr class="custom-hr product-hr" />

    <form
      [formGroup]="addProductForm"
      class="product-form"
      (ngSubmit)="onAddProductToCart()"
    >
      <div class="product-group">
        <label class="product-price">
          <span
            >{{ product.productPrice.price }}
            {{ product.productPrice.symbol }}</span
          >
        </label>

        <div class="product-controls">
          <input
            type="number"
            formControlName="quantity"
            class="product-qty"
            min="1"
          />

          <button
            type="submit"
            class="btn btn-add-to-cart"
            [disabled]="addProductForm.invalid"
          >
            Add to cart <i class="icon-shopping-cart"></i>
          </button>
        </div>
      </div>

      <hr class="custom-hr product-hr" />

      <div class="product-group">
        <label class="product-label">Color</label>
        <div class="product-controls">
          <select formControlName="color" class="product-select">
            <option
              *ngFor="let c of product.colors"
              [value]="c"
            >
              {{ c }}
            </option>
          </select>
        </div>
      </div>
    </form>

    <hr class="custom-hr product-hr" />
    <p>{{ product.description }}</p>

    <ng-container *ngIf="secService.hasRoleIn(['ADMIN'])">
      <button
        (click)="onEditProduct()"
        class="btn btn-wood"
        style="margin-top: 20px"
      >
        Edit product <i class="icon-edit"></i>
      </button>
    </ng-container>
  </div>
</ng-container>
