<ng-container *ngIf="product">
  <div id="gallery" class="product-gallery">
    <a *ngIf="selectedImage; else noImage">
      <img
        [src]="selectedImage"
        class="main-image"
        alt="main image"
      />
    </a>
    <ng-template #noImage></ng-template>

    <div
      id="differentview"
      class="more-options"
      *ngIf="product.productImagesBas64?.length"
    >
      <div class="thumbnails">
        <div
          class="item"
          *ngFor="let img of product.productImagesBas64; let i = index"
          [class.active]="img === selectedImage"
        >
          <a (click)="changeImage(img)">
            <img
              [src]="img"
              alt="thumbnail {{ i + 1 }}"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</ng-container>
