<ng-container *ngIf="pageInfo as pi">
  <ng-container *ngIf="pi.totalPages > 1">
    <div class="custom-pagination">
      <ul class="pagination-list">
        <li>
          <a 
            class="pagination-arrow" 
            (click)="previousPage()" 
            [class.disabled]="pi.number === 0"
          >
            &lsaquo;
          </a>
        </li>

        <li *ngFor="let page of [].constructor(pi.totalPages); let i = index">
          <a 
            (click)="onPageHandle(i)" 
            class="pagination-item" 
            [class.active]="pi.number === i"
          >
            {{ i + 1 }}
          </a>
        </li>

        <li>
          <a 
            (click)="nextPage()" 
            class="pagination-arrow" 
            [class.disabled]="pi.number === pi.totalPages - 1"
          >
            &rsaquo;
          </a>
        </li>
      </ul>
    </div>
    <br class="clr" />
  </ng-container>
</ng-container>
