<div id="footerSection" class="footer-section">
  <div class="container">
    <div class="row footer-row">
      <div class="footer-column">
        <h5 class="footer-heading">OUR SHOP</h5>
        <a routerLink="/delivery"        routerLinkActive="active" class="footer-link">DELIVERY</a>
        <a routerLink="/payments"        routerLinkActive="active" class="footer-link">PAYMENTS</a>
        <a routerLink="/recommendations"        routerLinkActive="active" class="footer-link">RECOMMENDATIONS</a>
      </div>
      <div class="footer-column">
        <h5 class="footer-heading">INFORMATION</h5>
        <a routerLink="/legal-notice"        routerLinkActive="active" class="footer-link">LEGAL NOTICE</a>
        <a routerLink="/terms"        routerLinkActive="active" class="footer-link">TERMS AND CONDITIONS</a>
        <a routerLink="/faq"        routerLinkActive="active" class="footer-link">FAQ</a>
      </div>
      <div class="footer-column">
        <h5 class="footer-heading">CLIENT RIGHTS</h5>
        <a routerLink="/refund"        routerLinkActive="active" class="footer-link">PURCHASE REFUND</a>
        <a routerLink="/support"        routerLinkActive="active" class="footer-link">TECHNICAL SUPPORT</a>
        <a routerLink="/partner"        routerLinkActive="active" class="footer-link">BECOME A PARTNER</a>
      </div>
      <div id="socialMedia" class="footer-social-media">
        <h5 class="footer-heading">SOCIAL MEDIA</h5>
        <div style="display: flex; gap: 10px">
            <a href="https://www.facebook.com/121motoxdad/" class="footer-social-link" target="_blank" rel="noopener noreferrer"
            ><img
              src="assets/img/Facebook.svg"
              title="facebook"
              alt="facebook"
              class="footer-social-icon"
          /></a>
          <a href="https://x.com/WoodshopNews" class="footer-social-link" target="_blank" rel="noopener noreferrer"
            ><img
              src="assets/img/twitter.svg"
              title="twitter"
              alt="twitter"
              class="footer-social-icon"
          /></a>
          <a href="https://www.instagram.com/woodshop_ua/" class="footer-social-link" target="_blank" rel="noopener noreferrer"
            ><img
              src="assets/img/Instagram.svg"
              title="youtube"
              alt="youtube"
              class="footer-social-icon"
          /></a>
        </div>
      </div>
    </div>
    <p class="pull-right footer-copyright">&copy; WoodShop</p>
  </div>
</div>
