<div style="margin-bottom: 20px">
  <div class="navbar">
    <div class="navbar-inner">
      <div (click)="onHome()" class="logo">
        <img
          src="assets/img/logo.png"
          alt=""
          style="width: 50px; height: 50px"
        />
        <a><span>WoodShop</span></a>
      </div>

      <form
        *ngIf="searchFormGroup"
        [formGroup]="searchFormGroup"
        class="navbar-form"
      >
        <div style="position: relative">
          <img
            src="assets/img/search-normal.svg"
            alt=""
            style="position: absolute; left: 8px; top: 7px"
          />
          <input
            class="search search-input"
            type="text"
            placeholder="Search products"
            formControlName="keyword"
          />
        </div>
        <button
          (click)="onSearchProduct()"
          type="submit"
          id="submitButton"
          class="btn btn-wood"
        >
          Find
        </button>
      </form>

      <ul id="topMenu" class="navbar-ul">
        <li class="navbar-li"><a (click)="onHome()">Home</a></li>
        <li class="navbar-li"><a (click)="onContact()">Contact</a></li>
        <li class="navbar-li">
          <ng-container *ngIf="securityService.hasRoleIn(['ADMIN'])">
            <a
              (click)="onAdmin()"
              role="button"
              style="padding-right: 0; cursor: pointer"
            >
              <span class="btn btn-wood">Add product</span>
            </a>
          </ng-container>
        </li>
        <li class="navbar-li">
          <span
            *ngIf="!securityService.profile"
            (click)="securityService.login()"
            class="btn btn-primary"
            >Login</span
          >
          <span
            *ngIf="securityService.profile"
            (click)="securityService.logout()"
            class="btn btn-primary"
            >Logout</span
          >
        </li>
        <li class="navbar-li" *ngIf="securityService.profile">
          <a href="/profile"
            ><img
              src="assets/img/account.png"
              alt="user icon"
              class="user-icon"
          /></a>
        </li>
      </ul>
    </div>
  </div>
</div>
