<div style="margin-bottom: 20px">
  <div class="cart-container">
    <a id="myCart" (click)="goToShCart()">
      <img src="assets/img/bag.svg" alt="cart" />
            <ng-container *ngIf="shoppingCart$ | async as state">
        <ng-container
          *ngIf="state.dataState == CartDataState.LOADED && state.shoppingCart"
        >
          <span
            >{{ state.shoppingCart.items.length }} Item(s) in your cart</span
          >
          <ng-container *ngIf="state.shoppingCart">
            <span *ngIf="state.shoppingCart.items[0].product" class="price">
              {{ shoppingCartService.calcTotalPrice(state.shoppingCart) }} {{ state.shoppingCart.items[0].product.productPrice.currency }}
            </span>
          </ng-container>
        </ng-container>
      </ng-container>
    </a>
  </div>
  <div class="promo-section" (click)="onSearchByCategory('CHARM')">
    <a>🧙‍♂️Miraculous Charms🧚</a>
  </div>
  <ul id="sideManu" class="categories-container" *ngFor="let cat of categories">
    <li class="nav-item" (click)="onSearchByCategory(cat)">
      <a> {{ cat }}</a>
    </li>
  </ul>
</div>
