<ng-container *ngIf="shoppingCart">
  <div class="cart-title-container">
    <h3 class="cart-title">Shopping Cart</h3>
    <small>{{ shoppingCart.items.length }} Item(s)</small>
    <a href="/home" class="btn btn-continue">
      <img
        src="assets/img/left-arrow-svgrepo-com.svg"
        alt="Left Arrow icon"
        style="width: 20px; height: 20px"
      />
      <span>Continue Shopping</span>
    </a>
  </div>
  <hr class="custom-hr" />

  <table class="cart-table">
    <thead>
      <tr>
        <th>Product</th>
        <th>Description</th>
        <th>Quantity/Update</th>
        <th>Price</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of shoppingCart.items">
        <td (click)="goToProduct(item.product)">
          <img
            width="60"
            [src]="item.product.productImagesBas64[0]"
            alt="Product img"
          />
        </td>
        <td>
          {{ item.product.name }}<br />
          Color: {{ item.product.pickedColor }}
        </td>
        <td>
          <div class="cart-quantity">
            <input
              class="cart-input"
              [value]="item.quantity"
              type="text"
              readonly
            />
            <!-- Передаём сразу item.product.productId -->
            <button
              class="cart-btn"
              (click)="onDecrease(item.product.productId)"
            >
              −
            </button>
            <button
              class="cart-btn"
              (click)="onIncrease(item.product.productId)"
            >
              +
            </button>
            <button
              type="button"
              class="cart-btn cart-btn-remove"
              (click)="onDeleteItem(item.product.productId)"
            >
              ✕
            </button>
          </div>
        </td>
        <td>
          {{ item.product.productPrice.price }}
          {{ item.product.productPrice.symbol }}
        </td>
        <td>
          {{ item.quantity * item.product.productPrice.price }}
        </td>
      </tr>
      <tr>
        <td colspan="4" class="cart-summary">Total Price:</td>
        <td>
          {{ shoppingCartService.calcTotalPrice(shoppingCart) }}
        </td>
      </tr>
    </tbody>
  </table>
</ng-container>
